<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button class="signin-btn" mat-stroked-button (click)="openSignInDialog()">
      Sign In
    </button>
    <button class="signup-btn" mat-stroked-button (click)="openSignUpDialog()">
      Sign Up
    </button>
  </mat-toolbar>
</p>
